html{
    scroll-behavior: smooth;
}
.navbar {
    /* background-color: white; */
    /* border-top: 1px solid black; */
    background: #f19d1f;
    background: -webkit-linear-gradient(59deg, #0B553E, #F19D1F);
    background: linear-gradient(59deg, #0B553E, #F19D1F);
}
nav>a>img {
    width:85px;
}
.header_img {
    height: 680px;
    background-image: url("img/slideshowV1-bg1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.header_img > div > p{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header_img > div{
    padding: 200px 0 0 50px;
}
.header_img p:nth-child(2){
    font-size: 60px;
    font-weight: 600;
}

li{
    margin-left: 15px;
}
h2 {
    text-align: center;
    margin: 40px 0;
}

table>tbody>tr>td>img {
    width: 100px;
    height: 50px;
}
.table td {
    vertical-align: middle ;
}
input:hover {
    background-color: #f19d1f;
    border: 1px solid #f19d1f;
    color: white
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: #f19d1f;
}
form {
    width: 100%;
    margin: 30px;
    font-size: 20px;
}
form >div{
    width: 100%;
    margin-bottom: 25px;
}
input{
    width: 100%;
    background-color: white;
    border: 1px solid #f19d1f;
    border-radius: 5px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.addContainer{
    width: 50%;
    border: 5px solid #f19d1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1);
}
form div:nth-child(5){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form input:nth-child(6){
    width: 100%;
    float:middle;
}
form:nth-child(2) > input , #deleteForm > input {
    width: auto;
    background-color: red;
    color: white;
    float: right;
}
#viewProduct{
    width: auto;
}
#deleteForm > input{
    margin-right: 20px;
}
#clearAll{
    width: auto;
    margin: auto;
}
footer {
    background: #f19d1f;
    background: -webkit-linear-gradient(59deg, #F19D1F, #0B553E);
    background: linear-gradient(59deg, #F19D1F, #0B553E);
    color: linear-gradient(59deg, #F19D1F, #0B553E);
    margin-top: 100px;
}

footer a {
    color: black;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: black;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #0B553E;
}

.social-network a.icoLinkedin:hover {
    background-color: #0B553E;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}
@media screen and (max-width: 768px){
    .addContainer{
        width: 100%;
    }
}








